.home__container {
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 25px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: grid;
}
